<%- include("./partials/header.ejs") %>

<title>Fruits Form</title>
  </head>
  <body>
    <h1>Add Person</h1>
    <form action="/create-person" method="post">
      <input name="name" placeholder="Enter Name" required />
      <input name="age" type="number" placeholder="Enter Age" required />
      <input name="favFruit" placeholder="Enter Fav Fruit" />
      <input name="review" placeholder="Enter Review" />
      <button type="submit">Submit</button>
    </form>

    <%- include("./partials/footer.ejs") %>
