<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Fruits Form</title>
  </head>
  <body>
    <h1>Add Person</h1>
    <form action="/create-person" method="post">
      <input name="name" placeholder="Enter Name" required />
      <input name="age" type="number" placeholder="Enter Age" required />
      <input name="favFruit" placeholder="Enter Fav Fruit" required />
      <input name="review" placeholder="Enter Review" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
