<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Fruits</title>
  </head>
  <body>
    <h1>Fruits</h1>
    <hr />
    <div id="fruits-container">
      <% fruits.forEach((fruit, i) => { %>
      <div class="fruit">
        <h3 class="fruitName"><%=i+1%>. <%=fruit.fruitName%></h3>
        <p class="fruitReview">Review: <%=fruit.review%></p>
        <br />
      </div>
      <% }) %>
    </div>
  </body>
</html>
