<%- include("./partials/header.ejs") %>

    <title>Document</title>
  </head>
  <body>
    <h1>Hello</h1>
    <button><a href="/search">Search</a></button>
    <button><a href="/login">Login</a></button>
    <button><a href="/register">Register</a></button>

    <%- include("./partials/footer.ejs") %>