<%- include("./partials/header.ejs") %>

<title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <button><a href="/">Home</a></button>
    <form action="/register" method="post">
      <input type="text" name="username" />
      <input type="text" name="password" />
      <button type="submit">Register</button>
    </form>

<%- include("./partials/footer.ejs") %>
