<%- include("./partials/header.ejs") %>

<title>Search Result</title>
  </head>
  <body>
    <button><a href="/">HOME</a></button>
    <h1>Searched For: <%=query%></h1>
    <button><a href="/search">Search Again</a></button>

<%- include("./partials/footer.ejs") %>
