<%- include("./partials/header.ejs") %>

<title>Search</title>
  </head>
  <body>
    <h1>Search</h1>
    <p>Max 5 letter word</p>
    <form action="/search" method="post">
      <input type="text" name="searchQuery" />
      <button type="submit">Search</button>
    </form>

    <%- include("./partials/footer.ejs") %>
